-- PlaylistName:[% playlistname %]
-- PlaylistMenuListType:contextmenu
-- PlaylistCategory:genres
[%- IF repeat %]
-- PlaylistRepeat: 1
[%- END %]
-- PlaylistUseCache: 1
[%- IF basetemplate %]
-- BaseTemplate:[% basetemplate %]
[%- END %]
-- PlaylistParameter1:genre:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRE:
[%- # --------------- req param starts with 2 because context menu obj = param 1 ---------------------------------------- %]
[%- IF request2fromuser == 'year' %]
	[%- IF activevirtuallibrary %]
-- PlaylistParameter2:customyear:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:select year,case when year > 0 then year else 'Unknown' end from tracks join library_track on library_track.track = tracks.id and library_track.library = 'PlaylistCurrentVirtualLibraryForClient' group by year order by tracks.year
	[%- ELSE %]
-- PlaylistParameter2:year:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:
	[%- END %]
[%- ELSIF request2fromuser == 'multipleyears' %]
-- PlaylistParameter2:multipleyears:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEARS:
[%- # ----------- %]
[%- ELSIF request2fromuser == 'decade' %]
	[%- IF activevirtuallibrary %]
-- PlaylistParameter2:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int),case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks,library_track where library_track.track = tracks.id and library_track.library = 'PlaylistCurrentVirtualLibraryForClient' and tracks.audio = 1 group by cast(((tracks.year/10)*10) as int) order by tracks.year desc
	[%- ELSE %]
-- PlaylistParameter2:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int),case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks where tracks.audio = 1 group by cast(((tracks.year/10)*10) as int) order by tracks.year desc
	[%- END %]
[%- ELSIF request2fromuser == 'multipledecades' %]
-- PlaylistParameter2:multipledecades:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADES:
[%- # ----------- %]
[%- ELSIF request2fromuser == 'addedtime' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTLASTADDEDPERIOD_SONGS:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_2WEEKS,2419200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_4WEEKS,7257600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_3MONTHS,14515200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_6MONTHS,29030399:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_12MONTHS
[%- # ----------- %]
[%- ELSIF request2fromuser == 'lastplayed' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SONGS_LASTPLAYED:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_2WEEKS,2592000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_4WEEKS,7948800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_3MONTHS,15811200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_6MONTHS,31536000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_12MONTHS
[%- ELSIF request2fromuser == 'minRating' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTMINRATING:0:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_UNRATED,10:0.5,20:1,30:1.5,40:2,50:2.5,60:3,70:3.5,80:4,90:4.5,100:5
[%- # ----------- %]
[%- ELSIF request2fromuser == 'exactRating' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTEXACTRATING:10:0.5,20:1,30:1.5,40:2,50:2.5,60:3,70:3.5,80:4,90:4.5,100:5
[%- # ----------- %]
[%- ELSIF request2fromuser == 'maxRating' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTMAXRATING:10:0.5,20:1,30:1.5,40:2,50:2.5,60:3,70:3.5,80:4,90:4.5,100:5
[%- END %]
[%- # --------------------------------------------------------------------------------------------------------------- %]
[%- IF request3fromuser == 'year' %]
	[%- IF activevirtuallibrary %]
-- PlaylistParameter3:customyear:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:select year,case when year > 0 then year else 'Unknown' end from tracks join library_track on library_track.track = tracks.id and library_track.library = 'PlaylistCurrentVirtualLibraryForClient' group by year order by tracks.year
	[%- ELSE %]
-- PlaylistParameter3:year:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:
	[%- END %]
[%- ELSIF request3fromuser == 'multipleyears' %]
-- PlaylistParameter3:multipleyears:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEARS:
[%- # ----------- %]
[%- ELSIF request3fromuser == 'decade' %]
	[%- IF activevirtuallibrary %]
-- PlaylistParameter3:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int),case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks,library_track where library_track.track = tracks.id and library_track.library = 'PlaylistCurrentVirtualLibraryForClient' and tracks.audio = 1 group by cast(((tracks.year/10)*10) as int) order by tracks.year desc
	[%- ELSE %]
-- PlaylistParameter3:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int),case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks where tracks.audio = 1 group by cast(((tracks.year/10)*10) as int) order by tracks.year desc
	[%- END %]
[%- ELSIF request3fromuser == 'multipledecades' %]
-- PlaylistParameter3:multipledecades:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADES:
[%- # ----------- %]
[%- ELSIF request3fromuser == 'addedtime' %]
-- PlaylistParameter3:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTLASTADDEDPERIOD_SONGS:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_2WEEKS,2419200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_4WEEKS,7257600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_3MONTHS,14515200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_6MONTHS,29030399:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_12MONTHS
[%- # ----------- %]
[%- ELSIF request3fromuser == 'lastplayed' %]
-- PlaylistParameter3:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SONGS_LASTPLAYED:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_2WEEKS,2592000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_4WEEKS,7948800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_3MONTHS,15811200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_6MONTHS,31536000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_12MONTHS
[%- ELSIF request3fromuser == 'minRating' %]
-- PlaylistParameter3:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTMINRATING:0:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_UNRATED,10:0.5,20:1,30:1.5,40:2,50:2.5,60:3,70:3.5,80:4,90:4.5,100:5
[%- # ----------- %]
[%- ELSIF request3fromuser == 'exactRating' %]
-- PlaylistParameter3:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTEXACTRATING:10:0.5,20:1,30:1.5,40:2,50:2.5,60:3,70:3.5,80:4,90:4.5,100:5
[%- # ----------- %]
[%- ELSIF request3fromuser == 'maxRating' %]
-- PlaylistParameter3:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTMAXRATING:10:0.5,20:1,30:1.5,40:2,50:2.5,60:3,70:3.5,80:4,90:4.5,100:5
[%- END %]
[%- # ----------- %]
[%- IF customskipfilter %]
-- PlaylistStartAction1:cli:customskip setsecondaryfilter [% customskipfilter %]
-- PlaylistStopAction1:cli:customskip clearsecondaryfilter
[%- END %]
[% # --------------------------------------------------------------------------------------------------------------- %]
select tracks.id, tracks.primary_artist from tracks
	join genre_track on
		genre_track.track = tracks.id and genre_track.genre = 'PlaylistParameter1'
	[%- # ------- VIRTUAL LIBRARY ------- %]
	[%- IF activevirtuallibrary %]
	join library_track on
		library_track.track = tracks.id
		and library_track.library = 'PlaylistCurrentVirtualLibraryForClient'
	[%- END %]
	[%- # ------- MISC ------- %]
	[%- IF (!useapcvalues and (recentlyplayed or playedbefore)) or minrating or (includedratings or includedratings == 0) or maxrating or sortorder or request2fromuser == 'addedtime' or request2fromuser == 'lastplayed' or request2fromuser == 'minRating' or request2fromuser == 'exactRating' or request2fromuser == 'maxRating' or request3fromuser == 'addedtime' or request3fromuser == 'lastplayed' or request3fromuser == 'minRating' or request3fromuser == 'exactRating' or request3fromuser == 'maxRating' %]
	left join tracks_persistent on
		tracks_persistent.urlmd5 = tracks.urlmd5
	[%- END %]
	[%- IF useapcvalues or maxskipcount or recentlyskipped or maxdpsv or mindpsv %]
	join alternativeplaycount on
		alternativeplaycount.urlmd5 = tracks.urlmd5
	[%- END %]
	WHERE
		tracks.audio = 1
	[%- IF excludedartists %]
		and not exists (select * from tracks t2,contributor_track,contributors
						where
							t2.id = tracks.id and
							tracks.id = contributor_track.track and
							contributors.id = contributor_track.contributor and
							contributor_track.role in (1,5,6) and
							contributors.namesearch in ([% excludedartists %]))
	[%- END %]
	[%- IF maxlength %]
		and tracks.secs < [% maxlength %]
	[%- END %]
	[%- IF minlength %]
		and tracks.secs > [% minlength %]
	[%- END %]
	[%- IF request2fromuser == 'year' or request3fromuser == 'year' %]
		and ifnull(tracks.year, 0) = 'PlaylistParameter[% IF request2fromuser == 'year' %]2[% ELSE %]3[% END %]'
	[%- ELSIF request2fromuser == 'decade' or request3fromuser == 'decade' %]
		and ifnull(tracks.year, 0) >= 'PlaylistParameter[% IF request2fromuser == 'decade' %]2[% ELSE %]3[% END %]' and ifnull(tracks.year, 0) < ('PlaylistParameter[% IF request2fromuser == 'decade' %]2[% ELSE %]3[% END %]' + 10)
	[%- ELSIF request2fromuser == 'multipledecades' or request2fromuser == 'multipleyears' or request3fromuser == 'multipledecades' or request3fromuser == 'multipleyears' %]
		and ifnull(tracks.year, 0) in ('PlaylistParameter[% IF request2fromuser == 'multipledecades' or request2fromuser == 'multipleyears' %]2[% ELSE %]3[% END %]')
	[%- END %]
	[%- IF maxyear %]
		and tracks.year <= [% maxyear %]
	[%- END %]
	[%- IF minyear %]
		and tracks.year >= [% minyear %]
	[%- END %]
	[%- IF minrating && !includedratings %]
		and ifnull(tracks_persistent.rating, 0) >= [% minrating %]
	[%- END %]
	[%- IF request2fromuser == 'minRating' or request3fromuser == 'minRating' %]
		and ifnull(tracks_persistent.rating, 0) >= 'PlaylistParameter[% IF request2fromuser == 'minRating' %]2[% ELSE %]3[% END %]'
	[%- END %]
	[%- IF maxrating && !includedratings %]
		and ifnull(tracks_persistent.rating, 0) <= [% maxrating %]
	[%- END %]
	[%- IF request2fromuser == 'maxRating' or request3fromuser == 'maxRating' %]
		and ifnull(tracks_persistent.rating, 0) <= 'PlaylistParameter[% IF request2fromuser == 'maxRating' %]2[% ELSE %]3[% END %]'
	[%- END %]
	[%- IF (includedratings or includedratings == 0) && !minrating && !maxrating && request1fromuser != 'exactRating' && request2fromuser != 'exactRating' %]
		and ifnull(tracks_persistent.rating, 0) in ([% includedratings %])
	[%- END %]
	[%- IF request2fromuser == 'exactRating' or request3fromuser == 'exactRating' %]
		and ifnull(tracks_persistent.rating, 0) = 'PlaylistParameter[% IF request2fromuser == 'exactRating' %]2[% ELSE %]3[% END %]'
	[%- END %]
	[%- IF playedbefore == 1 and !recentlyplayed %]
		and [% IF useapcvalues %]ifnull(alternativeplaycount.playCount,0)[% ELSE %]ifnull(tracks_persistent.playCount,0)[% END %] = 0
	[%- END %]
	[%- IF playedbefore == 2 %]
		and [% IF useapcvalues %]ifnull(alternativeplaycount.playCount,0)[% ELSE %]ifnull(tracks_persistent.playCount,0)[% END %] > 0
	[%- END %]
	[%- IF recentlyplayed and playedbefore != 1 %]
		and [% IF useapcvalues %]ifnull(alternativeplaycount.lastPlayed,0)[% ELSE %]ifnull(tracks_persistent.lastPlayed,0)[% END %] < (strftime('%s', 'now') - [% recentlyplayed %])
	[%- END %]
	[%- IF (request2fromuser == 'lastplayed' or request3fromuser == 'lastplayed') and playedbefore != 1 %]
		and (strftime('%s', 'now') - [% IF useapcvalues %]ifnull(alternativeplaycount.lastPlayed,0)[% ELSE %]ifnull(tracks_persistent.lastPlayed,0)[% END %]) <= 'PlaylistParameter[% IF request2fromuser == 'lastplayed' %]2[% ELSE %]3[% END %]'
	[%- END %]
	[%- IF maxskipcount %]
		and ifnull(alternativeplaycount.playCount,0) < [% maxskipcount %]
	[%- END %]
	[%- IF recentlyskipped %]
		and ifnull(alternativeplaycount.lastSkipped,0) < (strftime('%s', 'now') - [% recentlyskipped %])
	[%- END %]
	[%- IF maxdpsv %]
		and ifnull(alternativeplaycount.dynPSval, 0) <= [% IF maxdpsv == 'zero' %]0[% ELSE %][% maxdpsv %][% END %]
	[%- END %]
	[%- IF mindpsv %]
		and ifnull(alternativeplaycount.dynPSval, 0) >= [% IF mindpsv == 'zero' %]0[% ELSE %][% mindpsv %][% END %]
	[%- END %]
	[%- IF (request2fromuser == 'addedtime' or request3fromuser == 'addedtime') && !addedtime %]
	and tracks_persistent.added >= ((select max(ifnull(tracks_persistent.added,0)) from tracks_persistent) - 'PlaylistParameter[% IF request2fromuser == 'addedtime' %]2[% ELSE %]3[% END %]')
	[%- END %]
	[%- IF addedtime && request2fromuser != 'addedtime' && request3fromuser != 'addedtime' %]
	and tracks_persistent.added >= ((select max(ifnull(tracks_persistent.added,0)) from tracks_persistent) - [% addedtime %])
	[%- END %]
	group by tracks.id
	[%- IF sortorder %]
	order by [% IF useapcvalues %]alternativeplaycount.playCount[% ELSE %]tracks_persistent.playCount[% END %] [% IF sortorder == 1 %]desc[% ELSE %]asc[% END %]
	[%- END %]
