-- PlaylistName:[% playlistname %]
-- PlaylistGroups:[% playlistgroups %]
-- PlaylistCategory:works
[%- IF basetemplate %]
-- BaseTemplate:[% basetemplate %]
[%- END %]
[%- IF repeat %]
-- PlaylistRepeat: 1
[%- END %]
-- PlaylistTrackOrder:ordered
-- PlaylistLimitOption:unlimited
[%- IF virtuallibrary %]
-- PlaylistVirtualLibraryID1:[% virtuallibrary %]
[%- END %]
[%- # --------------------------------------------------------------------------------------------------------------- %]
[%- IF request1fromuser == 'genre' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter1:customgenre:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRE:select id,name,substr(namesort,1,1) from genres join library_genre on library_genre.genre = genres.id and library_genre.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] order by genres.namesort
[%- ELSE %]
-- PlaylistParameter1:genre:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRE:
[%- END %]
[%- ELSIF request1fromuser == 'multiplegenres' %]
-- PlaylistParameter1:multiplegenres:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRES:
[%- # ----------- %]
[%- ELSIF request1fromuser == 'artist' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter1:customartist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTARTIST:select id,name,substr(namesort,1,1) from contributors join library_contributor on library_contributor.contributor = contributors.id and library_contributor.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] order by contributors.namesort
[%- ELSE %]
-- PlaylistParameter1:artist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTARTIST:
[%- END %]
[%- # ----------- %]
[%- ELSIF request1fromuser == 'year' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter1:customyear:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:select year,case when year > 0 then year else 'Unknown' end from tracks join library_track on library_track.track = tracks.id and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] group by year order by tracks.year
[%- ELSE %]
-- PlaylistParameter1:year:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:
[%- END %]
[%- ELSIF request1fromuser == 'multipleyears' %]
-- PlaylistParameter1:multipleyears:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEARS:
[%- # ----------- %]
[%- ELSIF request1fromuser == 'playlist' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter1:customplaylist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTPLAYLIST:select playlist_track.playlist, tracks.title, substr(tracks.titlesort,1,1) from tracks, playlist_track join library_track on library_track.track = tracks.id and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] where playlist_track.track = tracks.url and tracks.id = playlist_track.playlist group by playlist.id order by playlist.titlesort
[%- ELSE %]
-- PlaylistParameter1:playlist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTPLAYLIST:
[%- END %]
[%- ELSIF request1fromuser == 'multiplestaticplaylists' %]
-- PlaylistParameter1:multiplestaticplaylists:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTPLAYLISTS:
[%- # ----------- %]
[%- ELSIF request1fromuser == 'decade' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter1:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int) as decade,case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks,library_track where library_track.track = tracks.id and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] and tracks.audio = 1 group by decade order by decade desc
[%- ELSE %]
-- PlaylistParameter1:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int) as decade,case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks where tracks.audio = 1 group by decade order by decade desc
[%- END %]
[%- ELSIF request1fromuser == 'multipledecades' %]
-- PlaylistParameter1:multipledecades:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADES:
[%- # ----------- %]
[%- ELSIF request1fromuser == 'virtuallibrary' %]
-- PlaylistParameter1:virtuallibrary:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTVLIB:
[%- # ----------- %]
[%- ELSIF request1fromuser == 'addedtime' %]
-- PlaylistParameter1:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTLASTADDEDPERIOD_SONGS:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_2WEEKS,2419200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_4WEEKS,7257600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_3MONTHS,14515200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_6MONTHS,29030399:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_12MONTHS
[%- # ----------- %]
[%- ELSIF request1fromuser == 'lastplayed' %]
-- PlaylistParameter1:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SONGS_LASTPLAYED:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_2WEEKS,2592000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_4WEEKS,7948800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_3MONTHS,15811200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_6MONTHS,31536000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_12MONTHS
[%- END %]
[%- # --------------------------------------------------------------------------------------------------------------- %]
[%- IF request2fromuser == 'genre' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter2:customgenre:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRE:select id,name,substr(namesort,1,1) from genres join library_genre on library_genre.genre = genres.id and library_genre.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] order by genres.namesort
[%- ELSE %]
-- PlaylistParameter2:genre:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRE:
[%- END %]
[%- ELSIF request2fromuser == 'multiplegenres' %]
-- PlaylistParameter2:multiplegenres:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTGENRES:
[%- # ----------- %]
[%- ELSIF request2fromuser == 'artist' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter2:customartist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTARTIST:select id,name,substr(namesort,1,1) from contributors join library_contributor on library_contributor.contributor = contributors.id and library_contributor.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] order by contributors.namesort
[%- ELSE %]
-- PlaylistParameter2:artist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTARTIST:
[%- END %]
[%- # ----------- %]
[%- ELSIF request2fromuser == 'year' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter2:customyear:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:select year,case when year > 0 then year else 'Unknown' end from tracks join library_track on library_track.track = tracks.id and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] group by year order by tracks.year
[%- ELSE %]
-- PlaylistParameter2:year:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEAR:
[%- END %]
[%- ELSIF request2fromuser == 'multipleyears' %]
-- PlaylistParameter2:multipleyears:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTYEARS:
[%- # ----------- %]
[%- ELSIF request2fromuser == 'playlist' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter2:customplaylist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTPLAYLIST:select playlist_track.playlist, tracks.title, substr(tracks.titlesort,1,1) from tracks, playlist_track join library_track on library_track.track = tracks.id and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] where playlist_track.track = tracks.url and tracks.id = playlist_track.playlist group by playlist.id order by playlist.titlesort
[%- ELSE %]
-- PlaylistParameter2:playlist:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTPLAYLIST:
[%- END %]
[%- ELSIF request2fromuser == 'multiplestaticplaylists' %]
-- PlaylistParameter2:multiplestaticplaylists:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTPLAYLISTS:
[%- # ----------- %]
[%- ELSIF request2fromuser == 'decade' %]
[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) %]
-- PlaylistParameter2:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int) as decade,case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks,library_track where library_track.track = tracks.id and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %] and tracks.audio = 1 group by decade order by decade desc
[%- ELSE %]
-- PlaylistParameter2:customdecade:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADE:select cast(((tracks.year/10)*10) as int) as decade,case when tracks.year > 0 then cast(((tracks.year/10)*10) as int)||'s' else 'Unknown' end from tracks where tracks.audio = 1 group by decade order by decade desc
[%- END %]
[%- ELSIF request2fromuser == 'multipledecades' %]
-- PlaylistParameter2:multipledecades:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTDECADES:
[%- # ----------- %]
[%- ELSIF request2fromuser == 'addedtime' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SELECTLASTADDEDPERIOD_SONGS:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_2WEEKS,2419200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_4WEEKS,7257600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_3MONTHS,14515200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_6MONTHS,29030399:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTLASTADDEDPERIOD_12MONTHS
[%- # ----------- %]
[%- ELSIF request2fromuser == 'lastplayed' %]
-- PlaylistParameter2:list:PLUGIN_DYNAMICPLAYLISTS4_PARAMNAME_SONGS_LASTPLAYED:604800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_1WEEK,1209600:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_2WEEKS,2592000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_4WEEKS,7948800:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_3MONTHS,15811200:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_6MONTHS,31536000:PLUGIN_DYNAMICPLAYLISTS4_PARAMVALUENAME_SELECTRECENTLYPLAYEDPERIOD_12MONTHS
[%- END %]
[%- # ----------- %]
[%- IF customskipfilter %]
-- PlaylistStartAction1:cli:customskip setsecondaryfilter [% customskipfilter %]
-- PlaylistStopAction1:cli:customskip clearsecondaryfilter
[%- END %]
[% # --------------------------------------------------------------------------------------------------------------- %]
drop table if exists tmp_random_works;
create temporary table tmp_random_works as
	[% IF sortorder or request1fromuser == 'addedtime' or request2fromuser == 'addedtime' %]select subselection.album as album, subselection.work as work, subselection.performance as performance from ([% END %]
	select tracks.album as album, tracks.work as work, tracks.performance as performance[% IF sortorder %], [% IF sortorder == 3 || sortorder == 4 %]sum[% ELSE %]avg[% END %][% IF useapcvalues %](ifnull(alternativeplaycount.playCount,0))[% ELSE %](ifnull(tracks_persistent.playCount,0))[% END %] as procplaycount[% END %][% IF request1fromuser == 'addedtime' or request2fromuser == 'addedtime' %], max(tracks_persistent.added) as maxadded[% END %] from tracks
		[%- # ------- VIRTUAL LIBRARY ------- %]
		[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) or request1fromuser == 'virtuallibrary' %]
		join library_track on
			library_track.track = tracks.id
			and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSIF request1fromuser == 'virtuallibrary' %]'PlaylistParameter1'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %]
		[%- END %]
		[%- # ------- (MULTIPLE) PLAYLISTS ------- %]
		[%- IF request1fromuser == 'playlist' or request2fromuser == 'playlist' or request1fromuser == 'multiplestaticplaylists' or request2fromuser == 'multiplestaticplaylists' %]
		join playlist_track on
			playlist_track.track = tracks.url and
			[%- IF request1fromuser == 'multiplestaticplaylists' or request2fromuser == 'multiplestaticplaylists' %]
			playlist_track.playlist in ('PlaylistParameter[% IF request1fromuser == 'multiplestaticplaylists' %]1[% ELSE %]2[% END %]')
			[%- ELSE %]
			playlist_track.playlist = 'PlaylistParameter[% IF request1fromuser == 'playlist' %]1[% ELSE %]2[% END %]'
			[%- END %]
		[%- END %]
		[%- # ------- ARTISTS ------- %]
		[%- IF includedartists or request1fromuser == 'artist' or request2fromuser == 'artist' %]
		join contributor_track on
			contributor_track.track = tracks.id and contributor_track.role in (1,5)
		join contributors on
			contributors.id = contributor_track.contributor
			[%- IF request1fromuser == 'artist' or request2fromuser == 'artist' %]
			and contributor_track.contributor = 'PlaylistParameter[% IF request1fromuser == 'artist' %]1[% ELSE %]2[% END %]'
			[%- END %]
		[%- END %]
		[%- # ------- (MULTIPLE) GENRES ------- %]
		[%- IF includedgenres or request1fromuser == 'genre' or request2fromuser == 'genre' or request1fromuser == 'multiplegenres' or request2fromuser == 'multiplegenres' %]
		join genre_track on
			genre_track.track = tracks.id
			[%- IF request1fromuser == 'multiplegenres' or request2fromuser == 'multiplegenres' %]
			and genre_track.genre in ('PlaylistParameter[% IF request1fromuser == 'multiplegenres' %]1[% ELSE %]2[% END %]')
			[%- ELSIF request1fromuser == 'genre' or request2fromuser == 'genre' %]
			and genre_track.genre = 'PlaylistParameter[% IF request1fromuser == 'genre' %]1[% ELSE %]2[% END %]'
			[%- END %]
		[%- IF includedgenres %]
		join genres on
			genres.id = genre_track.genre
		[%- END %]
		[%- END %]
		[%- # ------- MISC ------- %]
		[%- IF worksearchtitle1 %]
		join works on
			tracks.work = works.id
		[%- END %]
		[%- IF (!useapcvalues and (recentlyplayed or playedbefore or sortorder or partlyplayed)) or addedtime or request1fromuser == 'addedtime' or request2fromuser == 'addedtime' or request1fromuser == 'lastplayed' or request2fromuser == 'lastplayed' %]
		left join tracks_persistent on
			tracks_persistent.urlmd5 = tracks.urlmd5
		[%- END %]
		[%- IF useapcvalues or maxskipcount or recentlyskipped or maxdpsv or mindpsv %]
		join alternativeplaycount on
			alternativeplaycount.urlmd5 = tracks.urlmd5
		[%- END %]
		left join dynamicplaylist_history on
			dynamicplaylist_history.id = tracks.id and dynamicplaylist_history.client = 'PlaylistPlayer'
		WHERE
			tracks.audio = 1
			and dynamicplaylist_history.id is null
			and tracks.work is not null
		[%- IF worksearchtitle1 %]
			and [% IF worksearchtitle2 or worksearchtitle3 %]([% END %][% IF worksearchtitle2 && worksearchtitle3 && worksearchtitle1_logop == 'or' && worksearchtitle2_logop == 'and' %]([% END %]works.title[% UNLESS exacttitlesearch %]search[% END %] [% IF worksearchtitle1_searchtype.match('NOT') %]not [% END %]like '[% IF worksearchtitle1_searchtype.match('LIKE') %]%%[% END %][% worksearchtitle1 %]%%'
			[%- IF worksearchtitle2 %]
			[% IF worksearchtitle2_searchtype.match('NOT') %]and [% ELSE %][% worksearchtitle1_logop %] [% END %][% IF worksearchtitle2 && worksearchtitle3 && worksearchtitle1_logop == 'and' && worksearchtitle2_logop == 'or' %]([% END %]works.title[% UNLESS exacttitlesearch %]search[% END %] [% IF worksearchtitle2_searchtype.match('NOT') %]not [% END %]like '[% IF worksearchtitle2_searchtype.match('LIKE') %]%%[% END %][% worksearchtitle2 %]%%'[% IF worksearchtitle2 && worksearchtitle3 && worksearchtitle1_logop == 'or' && worksearchtitle2_logop == 'and' %])[% END %]
			[%- IF worksearchtitle3 %]
			[% IF worksearchtitle3_searchtype.match('NOT') %]and [% ELSE %][% worksearchtitle2_logop %] [% END %]works.title[% UNLESS exacttitlesearch %]search[% END %] [% IF worksearchtitle3_searchtype.match('NOT') %]not [% END %]like '[% IF worksearchtitle3_searchtype.match('LIKE') %]%%[% END %][% worksearchtitle3 %]%%'[% IF worksearchtitle2 && worksearchtitle3 && worksearchtitle1_logop == 'and' && worksearchtitle2_logop == 'or' %])[% END %]
			[%- END %]
			[%- END %][% IF worksearchtitle2 or worksearchtitle3 %])[% END %]
		[%- END %]
		[%- IF includedartists %]
			and contributors.namesearch in ([% includedartists %])
		[%- END %]
		[%- IF includedcomposers %]
			and exists (select * from tracks t2,contributor_track,contributors
							where
								t2.id = tracks.id and
								tracks.id = contributor_track.track and
								contributors.id = contributor_track.contributor and
								contributor_track.role = 2 and
								contributors.namesearch in ([% includedcomposers %]))
		[%- END %]
		[%- IF excludedworks %]
			and not exists (select * from tracks t2, works
							where
								t2.id = tracks.id and
								works.id = tracks.work and
								works.titlesearch in ([% excludedworks %]))
		[%- END %]
		[%- IF excludedartists %]
			and not exists (select * from tracks t2,contributor_track,contributors
							where
								t2.id = tracks.id and
								tracks.id = contributor_track.track and
								contributors.id = contributor_track.contributor and
								contributor_track.role in (1,5,6) and
								contributors.namesearch in ([% excludedartists %]))
		[%- END %]
		[%- IF excludedcomposers %]
			and not exists (select * from tracks t2,contributor_track,contributors
							where
								t2.id = tracks.id and
								tracks.id = contributor_track.track and
								contributors.id = contributor_track.contributor and
								contributor_track.role = 2 and
								contributors.namesearch in ([% excludedcomposers %]))
		[%- END %]
		[%- IF request1fromuser == 'year' or request2fromuser == 'year' %]
			and ifnull(tracks.year, 0) = 'PlaylistParameter[% IF request1fromuser == 'year' %]1[% ELSE %]2[% END %]'
		[%- ELSIF request1fromuser == 'decade' or request2fromuser == 'decade' %]
			and ifnull(tracks.year, 0) >= 'PlaylistParameter[% IF request1fromuser == 'decade' %]1[% ELSE %]2[% END %]' and ifnull(tracks.year, 0) < ('PlaylistParameter[% IF request1fromuser == 'decade' %]1[% ELSE %]2[% END %]' + 10)
		[%- ELSIF request1fromuser == 'multipledecades' or request1fromuser == 'multipleyears' or request2fromuser == 'multipledecades' or request2fromuser == 'multipleyears' %]
			and ifnull(tracks.year, 0) in ('PlaylistParameter[% IF request1fromuser == 'multipledecades' or request1fromuser == 'multipleyears' %]1[% ELSE %]2[% END %]')
		[%- END %]
		[%- IF playedbefore == 1 and !recentlyplayed %]
			and [% IF useapcvalues %]ifnull(alternativeplaycount.playCount,0)[% ELSE %]ifnull(tracks_persistent.playCount,0)[% END %] = 0
		[%- END %]
		[%- IF playedbefore == 2 %]
			and [% IF useapcvalues %]ifnull(alternativeplaycount.playCount,0)[% ELSE %]ifnull(tracks_persistent.playCount,0)[% END %] > 0
		[%- END %]
		[%- IF maxskipcount %]
			and ifnull(alternativeplaycount.playCount,0) < [% maxskipcount %]
		[%- END %]
		[%- IF recentlyskipped %]
			and ifnull(alternativeplaycount.lastSkipped,0) < (strftime('%s', 'now') - [% recentlyskipped %])
		[%- END %]
		[%- IF (request1fromuser == 'lastplayed' or request2fromuser == 'lastplayed') and playedbefore != 1 %]
			and (strftime('%s', 'now') - [% IF useapcvalues %]ifnull(alternativeplaycount.lastPlayed,0)[% ELSE %]ifnull(tracks_persistent.lastPlayed,0)[% END %]) <= [% IF request1fromuser == 'lastplayed' %]'PlaylistParameter1'[% ELSE %]'PlaylistParameter2'[% END %]
		[%- END %]
		[%- IF request1fromuser == 'addedtime' or request2fromuser == 'addedtime' %]
		and tracks_persistent.added >= ((select max(ifnull(tracks_persistent.added,0)) from tracks_persistent) - [% IF request1fromuser == 'addedtime' %]'PlaylistParameter1'[% ELSE %]'PlaylistParameter2'[% END %])
		[%- END %]
		[%- IF includedgenres %]
			and genres.namesearch in ([% includedgenres %])
		[%- END %]
		[%- IF excludedgenres %]
			and not exists (select * from tracks t2, genre_track, genres
							where
								t2.id = tracks.id and
								genre_track.track = tracks.id and
								genre_track.genre = genres.id and
								genres.namesearch in ([% excludedgenres %]))
		[%- END %]
		group by case when tracks.performance is not null then tracks.performance else tracks.work end
		[%- IF recentlyplayed and playedbefore != 1 %]
		having [% IF useapcvalues %]max(ifnull(alternativeplaycount.lastPlayed,0))[% ELSE %]max(ifnull(tracks_persistent.lastPlayed,0))[% END %] < (strftime('%s', 'now') - [% recentlyplayed %])[% IF minworktracks %] and count(tracks.id) >= [% minworktracks %][% END %][% IF maxdpsv %] and ifnull(alternativeplaycount.dynPSval, 0) <= [% IF maxdpsv == 'zero' %]0[% ELSE %][% maxdpsv %][% END %][% END %][% IF mindpsv %] and ifnull(alternativeplaycount.dynPSval, 0) >= [% IF mindpsv == 'zero' %]0[% ELSE %][% mindpsv %][% END %][% END %]
		[%- ELSIF (request1fromuser == 'lastplayed' or request2fromuser == 'lastplayed') and playedbefore != 1 %]
		having (strftime('%s', 'now') - [% IF useapcvalues %]ifnull(alternativeplaycount.lastPlayed,0)[% ELSE %]ifnull(tracks_persistent.lastPlayed,0)[% END %]) <= [% IF request1fromuser == 'lastplayed' %]'PlaylistParameter1'[% ELSE %]'PlaylistParameter2'[% END %][% IF minworktracks %] and count(tracks.id) >= [% minworktracks %][% END %][% IF maxdpsv %] and ifnull(alternativeplaycount.dynPSval, 0) <= [% IF maxdpsv == 'zero' %]0[% ELSE %][% maxdpsv %][% END %][% END %][% IF mindpsv %] and ifnull(alternativeplaycount.dynPSval, 0) >= [% IF mindpsv == 'zero' %]0[% ELSE %][% mindpsv %][% END %][% END %]
		[%- ELSIF maxdpsv or mindspv %]
		having [% IF maxdpsv %]ifnull(alternativeplaycount.dynPSval, 0) <= [% IF maxdpsv == 'zero' %]0[% ELSE %][% maxdpsv %][% END %][% IF mindpsv %] and [% END %][% END %][% IF mindpsv %]ifnull(alternativeplaycount.dynPSval, 0) >= [% IF mindpsv == 'zero' %]0[% ELSE %][% mindpsv %][% END %][% END %][% IF minworktracks %] and count(tracks.id) >= [% minworktracks %][% END %]
		[%- ELSIF minworktracks %]
		having count(tracks.id) >= [% minworktracks %]
		[%- END %]
		[%- IF addedtime %]
		and tracks_persistent.added >= ((select max(ifnull(tracks_persistent.added,0)) from tracks_persistent) - [% addedtime %])
		[%- END %]
		[%- IF partlyplayed and playedbefore != 1 %]
		and [% IF useapcvalues %]min(ifnull(alternativeplaycount.playCount,0))[% ELSE %]min(ifnull(tracks_persistent.playCount,0))[% END %] = 0 and [% IF useapcvalues %]avg(ifnull(alternativeplaycount.playCount,0))[% ELSE %]avg(ifnull(tracks_persistent.playCount,0))[% END %] > 0
		[%- END %]
		order by [% IF request1fromuser == 'addedtime' or request2fromuser == 'addedtime' %]maxadded desc, [% END %][% IF sortorder == 1 || sortorder == 3 %]procplaycount desc, [% ELSIF sortorder == 2 || sortorder == 4 %]procplaycount asc, [% END %]random()
		[% IF sortorder or request1fromuser == 'addedtime' or request2fromuser == 'addedtime' %]limit 30) as subselection
	order by random()[% END %]
	limit 1;
[% # --------------------------------------------------------------------------------------------------------------- %]
[%- IF includedartists %]
drop table if exists tmp_random_works_contribsel;
create temporary table tmp_random_works_contribsel as
	select contributors.id as contributor from contributors
		join contributor_track on
			contributor_track.contributor = contributors.id and contributor_track.role in (1,5)
		join tracks on
			contributor_track.track = tracks.id
		join tmp_random_works on (tracks.work = tmp_random_works.work and case when tmp_random_works.performance is not null then tracks.performance = tmp_random_works.performance else 1 end)
		left join dynamicplaylist_history on
			dynamicplaylist_history.id = tracks.id and dynamicplaylist_history.client = 'PlaylistPlayer'
		WHERE
			tracks.audio = 1
			and dynamicplaylist_history.id is null
			and contributors.namesearch in ([% includedartists %])
		group by contributors.id
		order by random()
		limit 1;
[%- END %]
[% # --------------------------------------------------------------------------------------------------------------- %]
select tracks.id, tracks.primary_artist from tracks
	join tmp_random_works on ([% IF !includedartists %]tracks.album = tmp_random_works.album and [% END %]tracks.work = tmp_random_works.work and case when tmp_random_works.performance is not null then tracks.performance = tmp_random_works.performance else 1 end)
	[%- # ------- VIRTUAL LIBRARY ------- %]
	[%- IF (virtuallibrary and !activevirtuallibrary) or (!virtuallibrary and activevirtuallibrary) or request1fromuser == 'virtuallibrary' %]
	join library_track on
		library_track.track = tracks.id
		and library_track.library = [% IF activevirtuallibrary %]'PlaylistCurrentVirtualLibraryForClient'[% ELSIF request1fromuser == 'virtuallibrary' %]'PlaylistParameter1'[% ELSE %]'PlaylistVirtualLibraryID1'[% END %]
	[%- END %]
	[%- # ------- (MULTIPLE) PLAYLISTS ------- %]
	[%- IF request1fromuser == 'playlist' or request2fromuser == 'playlist' or request1fromuser == 'multiplestaticplaylists' or request2fromuser == 'multiplestaticplaylists' %]
	join playlist_track on
		playlist_track.track = tracks.url and
		[%- IF request1fromuser == 'multiplestaticplaylists' or request2fromuser == 'multiplestaticplaylists' %]
		playlist_track.playlist in ('PlaylistParameter[% IF request1fromuser == 'multiplestaticplaylists' %]1[% ELSE %]2[% END %]')
		[%- ELSE %]
		playlist_track.playlist = 'PlaylistParameter[% IF request1fromuser == 'playlist' %]1[% ELSE %]2[% END %]'
		[%- END %]
	[%- END %]
	[%- # ------- ARTISTS ------- %]
	[%- IF includedartists or request1fromuser == 'artist' or request2fromuser == 'artist' %]
	join contributor_track on
		contributor_track.track = tracks.id
	join contributors on
		contributors.id = contributor_track.contributor and contributor_track.role in (1,5)
		[%- IF request1fromuser == 'artist' or request2fromuser == 'artist' %]
		and contributor_track.contributor = 'PlaylistParameter[% IF request1fromuser == 'artist' %]1[% ELSE %]2[% END %]'
		[%- ELSE %]
			and contributors.namesearch in ([% includedartists %])
		[%- END %]
	[%- END %]
	[%- IF includedartists %]
		join tmp_random_works_contribsel on (tmp_random_works_contribsel.contributor = contributors.id)
	[%- END %]
	[%- # ------- (MULTIPLE) GENRES ------- %]
	[%- IF includedgenres or request1fromuser == 'genre' or request2fromuser == 'genre' or request1fromuser == 'multiplegenres' or request2fromuser == 'multiplegenres' %]
	join genre_track on
		genre_track.track = tracks.id
		[%- IF request1fromuser == 'multiplegenres' or request2fromuser == 'multiplegenres' %]
		and genre_track.genre in ('PlaylistParameter[% IF request1fromuser == 'multiplegenres' %]1[% ELSE %]2[% END %]')
		[%- ELSIF request1fromuser == 'genre' or request2fromuser == 'genre' %]
		and genre_track.genre = 'PlaylistParameter[% IF request1fromuser == 'genre' %]1[% ELSE %]2[% END %]'
		[%- END %]
	[%- IF includedgenres %]
	join genres on
		genres.id = genre_track.genre
	[%- END %]
	[%- END %]
	[%- # ------- MISC ------- %]
	[%- IF (!useapcvalues and (recentlyplayed or playedbefore)) or request1fromuser == 'addedtime' or request2fromuser == 'addedtime' or request1fromuser == 'lastplayed' or request2fromuser == 'lastplayed' %]
	left join tracks_persistent on
		tracks_persistent.urlmd5 = tracks.urlmd5
	[%- END %]
	[%- IF useapcvalues or maxskipcount or recentlyskipped or maxdpsv or mindpsv %]
	join alternativeplaycount on
		alternativeplaycount.urlmd5 = tracks.urlmd5
	[%- END %]
	left join dynamicplaylist_history on
		dynamicplaylist_history.id = tracks.id and dynamicplaylist_history.client = 'PlaylistPlayer'
	WHERE
		tracks.audio = 1
		and dynamicplaylist_history.id is null
	[%- IF playedbefore == 1 and !recentlyplayed %]
		and [% IF useapcvalues %]ifnull(alternativeplaycount.playCount,0)[% ELSE %]ifnull(tracks_persistent.playCount,0)[% END %] = 0
	[%- END %]
	[%- IF playedbefore == 2 %]
		and [% IF useapcvalues %]ifnull(alternativeplaycount.playCount,0)[% ELSE %]ifnull(tracks_persistent.playCount,0)[% END %] > 0
	[%- END %]
	[%- IF recentlyplayed and playedbefore != 1 %]
		and [% IF useapcvalues %]ifnull(alternativeplaycount.lastPlayed,0)[% ELSE %]ifnull(tracks_persistent.lastPlayed,0)[% END %] < (strftime('%s', 'now') - [% recentlyplayed %])
	[%- END %]
	[%- IF (request1fromuser == 'lastplayed' or request2fromuser == 'lastplayed') and playedbefore != 1 %]
		and (strftime('%s', 'now') - [% IF useapcvalues %]ifnull(alternativeplaycount.lastPlayed,0)[% ELSE %]ifnull(tracks_persistent.lastPlayed,0)[% END %]) <= [% IF request1fromuser == 'lastplayed' %]'PlaylistParameter1'[% ELSE %]'PlaylistParameter2'[% END %]
	[%- END %]
	[%- IF maxskipcount %]
		and ifnull(alternativeplaycount.playCount,0) < [% maxskipcount %]
	[%- END %]
	[%- IF recentlyskipped %]
		and ifnull(alternativeplaycount.lastSkipped,0) < (strftime('%s', 'now') - [% recentlyskipped %])
	[%- END %]
	[%- IF request1fromuser == 'year' or request2fromuser == 'year' %]
		and ifnull(tracks.year, 0) = 'PlaylistParameter[% IF request1fromuser == 'year' %]1[% ELSE %]2[% END %]'
	[%- ELSIF request1fromuser == 'decade' or request2fromuser == 'decade' %]
		and ifnull(tracks.year, 0) >= 'PlaylistParameter[% IF request1fromuser == 'decade' %]1[% ELSE %]2[% END %]' and ifnull(tracks.year, 0) < ('PlaylistParameter[% IF request1fromuser == 'decade' %]1[% ELSE %]2[% END %]' + 10)
	[%- ELSIF request1fromuser == 'multipledecades' or request1fromuser == 'multipleyears' or request2fromuser == 'multipledecades' or request2fromuser == 'multipleyears' %]
		and ifnull(tracks.year, 0) in ('PlaylistParameter[% IF request1fromuser == 'multipledecades' or request1fromuser == 'multipleyears' %]1[% ELSE %]2[% END %]')
	[%- END %]
	[%- IF request1fromuser == 'addedtime' or request2fromuser == 'addedtime' %]
	and tracks_persistent.added >= ((select max(ifnull(tracks_persistent.added,0)) from tracks_persistent) - [% IF request1fromuser == 'addedtime' %]'PlaylistParameter1'[% ELSE %]'PlaylistParameter2'[% END %])
	[%- END %]
	[%- IF includedgenres %]
		and genres.namesearch in ([% includedgenres %])
	[%- END %]
	[%- IF excludedgenres %]
		and not exists (select * from tracks t2, genre_track, genres
						where
							t2.id = tracks.id and
							genre_track.track = tracks.id and
							genre_track.genre = genres.id and
							genres.namesearch in ([% excludedgenres %]))
	[%- END %]
	[%- IF maxdpsv %]
		and ifnull(alternativeplaycount.dynPSval, 0) <= [% IF maxdpsv == 'zero' %]0[% ELSE %][% maxdpsv %][% END %]
	[%- END %]
	[%- IF mindpsv %]
		and ifnull(alternativeplaycount.dynPSval, 0) >= [% IF mindpsv == 'zero' %]0[% ELSE %][% mindpsv %][% END %]
	[%- END %]
	group by tracks.id
	order by [% IF includedartists %]tracks.album[% ELSE %]tmp_random_works.album[% END %], tracks.disc, tracks.tracknum;
drop table tmp_random_works;
[%- IF includedartists %]
drop table tmp_random_works_contribsel;
[%- END %]
